# --- Dependencies ---
node_modules
.pnp
.pnp.*
.pnp.cjs
.pnp.loader.mjs
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarnrc.yml

# --- Build Output ---
dist/
build
.next/
out/

# --- Coverage and Reports ---
/coverage
/.nyc_output
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- Logs ---
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# --- Environment Variables ---
.env*

# --- OS Files ---
.DS_Store

# --- Editor & IDEs ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# --- Temporary Files ---
.temp
.tmp

# --- Misc ---
*.tsbuildinfo
next-env.d.ts
*.pem

# --- Vercel ---
.vercel
